:root {
    --header-font: 'Russo One', sans-serif;
    --sub-font: 'Saira Semi Condensed', sans-serif;
    --main-white: #FFFFFF;
    --black-outline: 1px 1px 0 #1F3196,
    -1px 1px 0 #1F3196,
    1px -1px 0 #1F3196,
    -1px -1px 0 #1F3196,
    0px 1px 0 #1F3196,
    0px -1px 0 #1F3196,
    -1px 0px 0 #1F3196,
    1px 0px 0 #1F3196,
    2px 2px 0 #1F3196,
    -2px 2px 0 #1F3196,
    2px -2px 0 #1F3196,
    -2px -2px 0 #1F3196,
    0px 2px 0 #1F3196,
    0px -2px 0 #1F3196,
    -2px 0px 0 #1F3196,
    2px 0px 0 #1F3196,
    1px 2px 0 #1F3196,
    -1px 2px 0 #1F3196,
    1px -2px 0 #1F3196,
    -1px -2px 0 #1F3196,
    2px 1px 0 #1F3196,
    -2px 1px 0 #1F3196,
    2px -1px 0 #1F3196,
    -2px -1px 0 #1F3196;
    --main-black: #090E17;
    --border-black: rgba(9, 13, 1, 0.21);
    --main-darkgrey: #A1A19F;
    --main-blue: #1F3196;
    --main-teal: #89D6DC;
    --blue-gradient: linear-gradient(180deg, rgba(31,49,150,1) 0%, rgba(60,60,212,1) 49%, rgba(31,49,150,1) 100%);
    --teal-gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(137,214,220,1) 100%);
}

.navBar {
    height: 3em;
    background-color: white;
    border-bottom: 2px solid var(--main-black);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.banner {
    width: 100vw;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

.bannerMain, .bannerTitle, .bannerFeatureHead {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 5em;
    padding: .1em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: rgba(0, 0, 0, 0.507);
    text-align: center;
}


.bannerMain, .bannerTitle {
    width: 100%;
    border-radius: 0;
    font-size: 1.5em;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bannerMain {
    top: 30%;
    padding: 0;
    transform: translate(-50%, -70%);
}

.headLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.logoText, .formVert, .browsePost, .pageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.browsePost {
    background-color: white;
    margin: 1em;
    border: 1px solid var(--border-black);
    text-decoration: none;
    color: black;
    text-align: center;
}

.commentSubmit:hover, .commentBox:hover, .postProjectFormH:hover, .postProjectForm:hover, .stepHeader:hover, .materials:hover, .browsePost:hover {
    box-shadow: 2px 2px 4px var(--border-black);
}

.logoFont {
    font-size: 3em;
    font-family: var(--header-font);
    display: flex;
    flex-direction: column;
    letter-spacing: 4px;
    color: white;
    text-shadow: var(--black-outline);
}

.upVotes, .subLogo {
    font-size: 1.3em;
    transform: translateY(-45%);
    color: var(--main-blue);
}

.upVotes {
    font-size: .45em;
}

.voteArrow {
    margin-right: .5em;
    transition: .2s ease-in-out;
}
.voteArrow:hover {
    transform: scale(1.2);
}

.logo {
    height: 7em;
    margin-right: 1em;
}

.navGear {
    height: 30px;
    margin-left: 1em;
    transition: .1s ease-in-out;
    margin-top: .5em;  
}



.navGear:hover, .logo:hover {
    animation: rotate .5s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.navLink {
    cursor: pointer;
    text-decoration: none;
    margin-right: .5em;
    font-size: .8em;
    color: var(--main-black);
    margin-left: .5em;
    transition: .3s ease-in-out;
}

.navLink:hover {
    color: var(--main-teal);
}

.commentSubmit, .commentBox, .postProjectFormH, .postProjectForm, .stepHeader, .materials, .filterForm, .aboutSection, .loginForm, .signUpForm {
    background-color: whitesmoke;
    border: 1px solid var(--border-black);
    padding: 1em;
    margin-top: 2em;
    justify-content: space-evenly;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentBox, .commentSubmit {
    width: 70%;
    margin-top: .5em;
    margin-bottom: .5em;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.commentSection {
    margin-bottom: 3em;
}

.postProjectForm {
    margin: 2em;
}

.aboutSection{
    padding: 2em;
}

.materials {
    border: 1px solid var(--border-black);
    flex-basis: 80%;
}

.supplyList {
    text-align: left;
    width: 100%;
    margin: .5em;
}

.stepHeader, .supplyTitle, .materialHead {
    font-weight: bolder;
    font-size: 1.3em;
}

.postProjectFormH, .topPostSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.postProjectFormH {
    width: 80%;
    height: 20%;
}

.stepHeader {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em;
}

.stepContent {
    text-align: center;
    font-size: .75em;
    font-weight: normal;
    flex-basis: 100%;
}

.filterForm {
    padding-bottom: 0;
    flex-direction: row;
}
.pathLink {
    margin: 5em;
}

.formInputField {
    margin-bottom: 1em;
    margin-right: 1em;
}

.postList {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.headSteps {
    flex-wrap: wrap;
}

.browseImg {
    width: 15em;
    height: 15em;
} 

.browseBtn, .button {
    background: var(--blue-gradient);
    padding: .5em;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid var(--main-darkgrey);
    color: whitesmoke;
}

.browseBtn:hover, .button:hover {
    box-shadow: 2px 2px 4px var(--border-black);
}

.browseBtn {
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
}


.submitTextArea {
    width: 100%;
    height: 10em;
}


.flex {
    display: flex;
    align-items: center;
}

.pageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPostHead {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.headSupplies {
    flex-wrap: wrap;
}


.headerMainPost {
    flex-basis: 65%;
    margin-left: 2em;
}

.mainHead {
    font-size: 3em;
}

.task-image {
    width: 10em;
    height: 10em;
}

.shop-link-container {
    margin: 1em;
    text-align: center;
}

.shop-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
}

.amazon-logo {
    height: 1.5em;
}

.save {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 1rem;
}
.save-icon {
    font-size: 2rem;
    text-align: right;
    cursor:pointer;
}
.save-title {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}
.save-title, .save-option {
    display: none;
    text-align: center;
}
.save-option {
    cursor: pointer;
}
.save:hover {
    background: rgba(9, 13, 1, 0.8);
    color: white;
}
.save:hover .save-title {
    display: block;
}
.save:hover .save-option {
    display: block;
}

@media only screen and (min-width: 600px) {
    .logo {
        height: 10em;
    }
    .navLink {
        font-size: 1em;
    }
    .bannerTitle {
        font-size: 2em;
    }
    .bannerMain {
        font-size: 2em;
    }
    .stepContent {
        flex-basis: 50%;
    }
    .logoFont {
        font-size: 4em;
    }
    .subLogo {
        font-size: 1.65em;
    }
    .browseForm {
        flex-direction: row;
    }
    .materials {
        flex-basis: 40%;
    }
    .mainPostHead{
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 768px) {
   .stepContent {
    flex-basis: 60%;
    }
    .banner {
        height: 25em;
    }
    .bannerTitle {
        font-size: 2.5em;
    }
    .bannerMain {
        font-size: 2.5em;
    }
   .headSteps {
       flex-wrap: nowrap;
   }
   .materials {
    flex-basis: 30%;
    }
}
@media only screen and (min-width: 1000px) {
    .banner {
        height: 30em;
    }
}