:root {
    --header-font: 'Russo One', sans-serif;
    --sub-font: 'Saira Semi Condensed', sans-serif;
    --main-white: #FFFFFF;
    --black-outline: 1px 1px 0 #2f5072,
    -1px 1px 0 #2f5072,
    1px -1px 0 #2f5072,
    -1px -1px 0 #2f5072,
    0px 1px 0 #2f5072,
    0px -1px 0 #2f5072,
    -1px 0px 0 #2f5072,
    1px 0px 0 #2f5072,
    2px 2px 0 #2f5072,
    -2px 2px 0 #2f5072,
    2px -2px 0 #2f5072,
    -2px -2px 0 #2f5072,
    0px 2px 0 #2f5072,
    0px -2px 0 #2f5072,
    -2px 0px 0 #2f5072,
    2px 0px 0 #2f5072,
    1px 2px 0 #2f5072,
    -1px 2px 0 #2f5072,
    1px -2px 0 #2f5072,
    -1px -2px 0 #2f5072,
    2px 1px 0 #2f5072,
    -2px 1px 0 #2f5072,
    2px -1px 0 #2f5072,
    -2px -1px 0 #2f5072;
    --main-black: #090E17;
    --border-black: rgba(9, 13, 1, 0.21);
    --main-darkgrey: #A1A19F;
    --main-blue: rgb(47, 80, 114);
    --main-teal: #89D6DC;
    --blue-gradient: linear-gradient(180deg, rgba(31,49,150,1) 0%, rgba(60,60,212,1) 49%, rgba(31,49,150,1) 100%);
    --teal-gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(137,214,220,1) 100%);
}

.navBar {
    height: 3em;
    background-color: white;
    border-bottom: 2px solid var(--main-black);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navRightSide {
    margin-right: 1em;
}

.banner-container {
    position: relative;
}

.postInfoCard {
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 100vw;
    height: 20em;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

.bannerMain, .bannerTitle, .bannerFeatureHead {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 5em;
    padding: .1em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: rgba(0, 0, 0, 0.507);
    text-align: center;
}

.bannerMain, .bannerTitle {
    width: 100%;
    border-radius: 0;
    font-size: 1.5em;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bannerMain {
    padding: 0;
}

.headLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.logoText, .formVert, .browsePost, .pageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.browsePost {
    background-color: white;
    margin: 1em;
    border: 1px solid var(--border-black);
    text-decoration: none;
    color: black;
    text-align: center;
}

.commentSubmit:hover, .commentBox:hover, .postProjectFormH:hover, .postProjectForm:hover, .stepHeader:hover, .materials:hover, .browsePost:hover {
    box-shadow: 2px 2px 4px var(--border-black);
}

.logoFont {
    font-size: 3em;
    font-family: var(--header-font);
    display: flex;
    flex-direction: column;
    letter-spacing: 4px;
    color: white;
    text-shadow: var(--black-outline);
}

.downVotes, .upVotes, .subLogo {
    font-size: 1.3em;
    transform: translateY(-45%);
    color: var(--main-blue);
}

.downVotes, .upVotes {
    font-size: .45em;
}

.formVert {
    width: 100%;
}

.downVotes {
    color: rgb(156, 10, 10);
}

.voteArrow {
    margin-right: .5em;
    transition: .2s ease-in-out;
}
.voteArrow:hover {
    transform: scale(1.2);
}

.logo {
    height: 7em;
    margin-right: 1em;
}

.navGear {
    height: 30px;
    margin-left: 1em;
    transition: .1s ease-in-out;
    margin-top: .5em;  
}



.navGear:hover, .logo:hover {
    animation: rotate .5s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.navLink {
    cursor: pointer;
    text-decoration: none;
    margin-right: .5em;
    font-size: .8em;
    color: var(--main-black);
    margin-left: .5em;
    transition: .3s ease-in-out;
}

.barsIcon:hover, .navLink:hover {
    color: var(--main-teal);
    opacity: 1;
}

.myprofile, .commentSubmit, .commentBox, .postProjectForm, .stepHeader, .materials, .filterForm, .aboutSection, .loginForm, .signUpForm {
    background-color: whitesmoke;
    border: 1px solid var(--border-black);
    padding: 1em;
    margin-top: 2em;
    justify-content: space-evenly;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    font-size: 2rem;
    padding: 0;
    margin: 0 0.5rem 0.25rem;
}

.about-subtitle {
    font-size: 1.5rem;
    padding: 0;
    margin: 0rem 0.5rem 1rem;
}

.about-text {
    font-size: 1rem;
    padding: 0;
    margin: 0.5rem;
}

.commentBox, .commentSubmit {
    width: 60%;
    margin-top: .5em;
    margin-bottom: .5em;
    position: relative;
}

.commentBox {
    justify-content: flex-start;
    flex-direction: row;
}

.commentSection {
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postProjectForm {
    min-width: 15em;
    margin: 2em;
}

.aboutSection{
    padding: 2em;
}

.materials {
    border: 1px solid var(--border-black);
    flex-basis: 80%;
    min-width: 13em;
}

.commentHead {
    margin: .5em;
    font-weight: bolder;
    font-size: 1em;
}

.commentContent {
    margin: .5em;
    font-size: .85em;
    font-style: italic;
}

.commentTime {
    margin: .5em;
    font-size: .7em;
}

.supplyList {
    text-align: left;
    width: 100%;
    margin: .5em;
}

.materialListHeader, .stepListHeader, .stepHeader, .supplyTitle, .materialHead {
    font-weight: bolder;
    font-size: 1.3em;
}

.topPostSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1em;
}


.postProjectFormH {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--main-white);
    background-color: whitesmoke;
    border: 1px solid var(--border-black);
    border-top: none;
    padding: 2em;
    box-shadow: 2px 2px 4px var(--border-black);
    margin-bottom: 2em;
}

.stepHeader {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

.stepHeadContainer {
    display: flex;
    min-width: 16em;
    width: 40%;
    flex-direction: column;
    align-items: center;
}

.myprofile {
    margin-bottom: 2em;
}

.stepContent {
    text-align: center;
    font-size: .75em;
    font-weight: normal;
    flex-basis: 100%;
}

.filterForm {
    margin-top: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}


.formInputField {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}

.formLabel {
    font-size: 1.3em;
}

.postList {
    max-width: 1000px;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.headSteps {
    flex-wrap: wrap;
}
.browseImg-container {
    width: 15em;
    height: 15em;
    background: #000;
}

.browseImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.browseBtn, .button, .submitBtn {
    background: white;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--sub-font);
    padding: .5em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px solid var(--main-blue);
    border-radius: 1px;
    color: var(--main-blue);
    cursor: pointer;
}

.button {
    margin: 1em;
}

.materialList, .stepsList {
    width: 100%;
    text-align: left;
    padding: .5em;
    border: 1px solid var(--border-black);
}

.materialList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.browseBtn:hover, .button:hover, .submitBtn:hover {
    box-shadow: 2px 2px 4px var(--border-black);
}

.browseBtn {
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
}

.submitBtn {
    width: 12em;
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0;
}


.titleInput, .submitTextArea {
    min-width: 20em;
    height: 10em;
    padding: 1em;
    font-family: var(--sub-font);
    font-size: .7em;
}

.fieldInput, .commentInput, .keywordInput, .titleInput, .submitTextArea {
    height: 1.75em;
    margin: .25em;
    padding: .25em;
    min-width: 10em;
    font-size: .7em;
    font-family: var(--sub-font);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.submitTextArea {
    height: 15em;
    width: 15em;
}

.commentInput {
    height: 5em;
    min-width: 10em;
}

.fieldInput:hover, .commentInput:hover, .keywordInput:hover, .titleInput:hover {
    border-color: hsl(0,0%,70%);
}

.submitBtn:active, .browseBtn:active, .button:active, .fieldInput:active, .commentInput:active, .keywordInput:active, .titleInput:active, .submitTextArea:active {
    box-shadow: none;
    outline: none;
}
.submitBtn:focus, .browseBtn:focus, .button:focus, .fieldInput:focus, .commentInput:focus, .keywordInput:focus, .titleInput:focus, .submitTextArea:focus {
    box-shadow: none;
    outline: none;
}

.select-container {
    margin: .15em;
    width: 10em;
    outline: none;
}
.select-container:active {
    outline: none;
}

.keywordInput{
    height: 2.7em;
    width: 13.5em;
}


.select__control--is-focused {
    border-color: hsl(0,0%,70%) !important;
    box-shadow: none !important;
}

.flex {
    display: flex;
    align-items: center;
}

.pageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPost {
    max-width: 1000px
}

.postTraits {
    font-size: 1.2em;
    font-weight: 500;
    margin: .5em;
}

.postDescrip {
    font-size: 1.1em;
    margin: .5em;
}

.mainPostHead {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.headSupplies {
    flex-wrap: wrap;
}

.submissionBtns {
    width: 100px;
}

.xicon {
    opacity: .4;
}


.stepContainer {
    width: 90%;
    text-align: center;
}

.xicon:hover {
    opacity: .7;
    color: black;
}

.submitButtonContainer {
    display: flex;
    padding: 1em;
    background-color: whitesmoke;
    border: 1px solid var(--border-black);
    box-shadow: 2px 2px 4px var(--border-black);
    margin-bottom: 3em;
}


.headerMainPost {
    flex-basis: 65%;
    min-width: 20em;
    margin-left: 2em;
}

.mainHead {
    font-size: 3em;
}

.task-image-container {
    width: 15em;
    height: 10em;
}

.task-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.centerFileInput, .shop-link-container {
    margin: 1em;
    text-align: center;
}

.shop-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
}

.amazon-logo {
    height: 1.5em;
}

.save {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 1rem;
}
.save-icon {
    font-size: 2rem;
    text-align: right;
    cursor:pointer;
}
.save-title {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}
.save-title, .save-option {
    display: none;
    text-align: center;
}
.save-option {
    cursor: pointer;
}
.save-option:hover {
    text-decoration: underline;
}
.save:hover {
    background: rgba(9, 13, 1, 0.8);
    color: white;
}
.save:hover .save-title {
    display: block;
}
.save:hover .save-option {
    display: block;
}
.greeting {
    font-size: .8em;
    display: inline-block;
    vertical-align: middle;
}
.commentAvatar, .avatar {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: 2px solid var(--main-blue);
    vertical-align: middle;
    border-radius: 50%;
}
.greeting, .avatar {
    margin-right: .5em;
}

.commentAvatar {
    height: 4em;
    min-width: 4em;
    object-fit: cover;
    margin: .5em;
    border: 5px solid var(--main-blue);
}

.navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: white;
    border: 1px solid var(--main-black);
    right: 0;
    top: 3em;
    width: 30%;
    z-index: 200;
    animation: slidedown .2s linear alternate;
    box-shadow: 2px 2px 4px var(--border-black);
}

.navLink3 {
    font-size: 1em;
    border-bottom: 1px solid var(--main-black);
    width: 100%;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.profileHeadText {
    font-size: 2em;
}

.profileImg {
    height: 15em;
    width: 15em;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid var(--main-blue);
}

.materialList:hover, .stepsList:hover, .navLink3:hover {
    color: white;
    background-color: var(--border-black);
}
.material-search {
    margin-bottom: 0.5em;
}
.navLinkActive {
    text-decoration: underline;
}

@keyframes slidedown {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 2em;
    left: 2em;
    right: 2em;
    bottom: 2em;
    background: #F0F0F0;
    overflow-y: scroll;
    outline: 1px #111 solid;
}
.modal div {
    width: 15em;
    text-align: center;
}
.amazon {
    cursor: pointer;
}
.amazon-img {
    height: 160px;
}
.amazon-title {
    font-weight: bold;
}
.amazon-price {
    text-decoration: italic;
}
.material-title {
    margin: 1em;
}

.selectedTab {
    color: var(--main-blue);
    background-color: whitesmoke;
    border: 1px solid var(--border-black);
    border-bottom: none;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
}

.tabs {
    display: flex;
    font-size: 1em;
    list-style: none;
    margin-block-end: 0;
    border-bottom: 1px solid var(--border-black);
}

.tab {
    padding: .5em;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: none;
    
}

.tabSection {
    width: 85%;
}

.barsIcon {
    cursor: pointer;
    color: var(--main-black);
    opacity: .7;
    margin-left: 1em;
}

.image-container {
    width: 10em;
    height: 10em;
}
.image-preview {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.fileContainer .chooseFileButton {
    padding: .5em 2em .5em 2em !important;
	background: white !important;
	color: #2f5072 !important;
	font-family: 'Saira Semi Condensed', sans-serif !important;
	border: 2px solid #2f5072 !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	margin: 10px 0 !important;
	transition: all 0.2s ease-in !important;
    cursor: pointer;
    border-radius: 0 !important;
}

.fileContainer .chooseFileButton:hover {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.249) !important;
}

.stepX {
    margin-top: 1em;
    justify-content: center;
    display: flex;
    align-items: center;
}

.stepXLabel {
    margin-right: .5em;
}

.fileContainer {
    box-shadow: none !important;
    background-color: transparent !important;
}

@media only screen and (min-width: 600px) {
    .logo {
        height: 10em;
    }
    .tabs {
        font-size: 1.1em;
    }
    .signUpForm {
        width: 25em;
    }
    .filterForm {
        flex-direction: row;
    }
    .greeting, .navLink {
        font-size: 1em;
    }
    .bannerMain, .bannerTitle {
        font-size: 2em;
    }
    .commentInput, .titleInput {
        width: 15em;
    }
    .stepContent {
        flex-basis: 50%;
    }
    .logoFont {
        font-size: 4em;
    }
    .subLogo {
        font-size: 1.65em;
    }
    .browseForm {
        flex-direction: row;
    }
    .materials {
        flex-basis: 40%;
    }
    .mainPostHead{
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 768px) {
   .stepContent {
        flex-basis: 60%;
    }
    .tabs {
        font-size: 1.2em;
    }
    .signUpForm {
        width: 30em;
    }
    .postProjectFormH{
        flex-direction: row;
    }
    .banner {
        height: 25em;
    }
    .bannerMain, .bannerTitle {
        font-size: 2.5em;
    }
    .commentInput, .titleInput {
        width: 20em;
    }
   .headSteps {
       flex-wrap: nowrap;
   }
   .materials {
        flex-basis: 30%;
    }
    .submitTextArea, .postProjectForm{
        min-width: 20em;
    }
}
@media only screen and (min-width: 1000px) {
    .commentInput, .submitTextArea, .postProjectForm{
        min-width: 25em;
    }
}