body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: rgb(237, 247, 249)
    /* linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(227, 242, 243) 100%); */
  }
