:root {
    --header-font: 'Bungee', cursive;
    --sub-font: 'Saira Semi Condensed', sans-serif;
    --button-gradient: linear-gradient(90deg, rgb(218, 218, 219) 0%, rgba(210,210,214,1) 50%, rgba(218,218,219) 100%);
    --black-outline: -2px -2px 0 #126973,
    2px -2px 0 #126973,
    -2px 2px 0 #126973,
    2px 2px 0 #126973;
    --main-black: #414A52;
}

.navBar {
    height: 3em;
    background-color: whitesmoke;
    border-bottom: 2px solid var(--main-black);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 10em;
}
.navGear {
    height: 40px;
    margin-left: 1em;
    transition: .1s ease-in-out;
}

.navGear:hover {
    animation: rotate .5s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.navLink {
    font-family: var(--sub-font);
    font-size: 1em;
    color: var(--main-black);
    margin-left: 1em;
    transition: .3s ease-in-out;
}

.submitForm {
    background-color: whitesmoke;
    border: 1px solid var(--main-black);
    padding: 1em;
    margin-top: 2em;
    justify-content: space-evenly;
    margin-left: 1em;
    margin-right: 1em;
}

.alignC {
    text-align: center;
}
.margRight {
    margin-right: 1em;
}

.marginB {
    margin-bottom: 1em;
}

.browseForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: whitesmoke;
    padding: 1em;
    border: 1px solid var(--main-black);
}


.browseImg {
    width: 15em;
    height: 15em;
}

.featureText {
    font-family: var(--sub-font);
    font-size: 2em;
    color: var(--main-black);
    margin-top: 1em;
}

.button {
    padding: .5em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: var(--sub-font);
    background: var(--button-gradient);
    border: 1px solid var(--main-black);
    transition: .3s ease-in-out;
}

.browseBtn {
    font-size: 1em;
    padding: .2em;
    margin-top: 2em;
}

.subText {
    font-family: var(--sub-font);
}

.noDec {
    text-decoration: none;
    color: var(--main-black);
}

.spaceB {
    justify-content: space-between;
}


.width80 {
    width: 80%;
    flex-basis: 80%;
}

.width100 {
    width: 100%;
    flex-basis: 100%;
}

.headFont {
    font-family: var(--header-font);
    font-size: 3em;
    color: whitesmoke;
    text-shadow: var(--black-outline);
}

.flex {
    display: flex;
    align-items: center;
}
.fwrap {
    flex-wrap: wrap;
}

.fbasis35 {
    flex-basis: 30%;
}

.justC {
    justify-content: center;
}

.flexC {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectBG {
    background-color: rgba(245, 245, 245, 0.664);
    margin: 2em;
    padding-bottom: 1em;
    border: 1px solid var(--main-black);
    transition: .1s ease-in-out;
}

.projectBG:hover {
    box-shadow: 1px 1px 4px var(--main-black);
}

.projectImg {
    height: 15em;
    width: 15em;
    margin-bottom: 1em;
}

.mainImg {
    height: 30em;
    width: 30em;
    border-radius: .5em;
    border: 2px solid var(--main-black);
    box-shadow: 2px 2px 20px var(--main-black);
    margin-top: 3em;
}

@media only screen and (min-width: 600px) {
    .logo {
        height: 15em;
    }
    .projectImg {
        width: 20em;
        height: 20em;
    }
    .headFont {
        font-size: 4em;
    }
    .browseForm {
        flex-direction: row;
    }
    
}

@media only screen and (min-width: 768px) {
    .logo {
        height: 20em;
    }
    .projectImg {
        width: 25em;
        height: 25em;
    }
    .headFont {
        font-size: 5em;
    }
    
}